#snake-field{
    display: inline-block;
}
#snake-renew,#snake-wait,#snake-start{
    width: 150px;
    padding: 15px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}
.game-table{
    border-collapse: collapse;
    background-color: #3e3e3e;
}
td.game-table-cell{
    width: 15px;
    height: 15px;
    border: 1px dotted #eee;
}
.snake-unit{
    background-color: burlywood;
    border-radius: 80%;
}
.snake-head-rudius{
    background-color: burlywood;
    border-radius: 80%;
}
.food-unit{
    background-color: red;
}
.wall-unit {
    background-color: wheat;
}
.buttons{
    display: inline-block;
}
#snake-wait{
    display: none;
}
#snake-next{
    display: none;
}
.wrap{
    margin: 0 auto;
    text-align: center;
}
#snake-renew {
    display: none;
}
#scoring{
    width: 332px;
    height: 50px;
    background-color: #3e3e3e;
    margin: 5px auto;
    color: white;
    text-align: left;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 15px;
}